p {
    color: rgb(200, 162, 227);
  }
  body {
    background-color: rgb(54, 63, 63);
  }
  h1 {
    color: azure;
  }
  #profile-pic {
    width: 200px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #name {
    text-align: center;
    border: 5px;
    font-size: xx-large;
    color: azure;
  }
  #about-me {
    text-align: center;
    border: 5px;
  }
  #homepage {
    text-align: center;
  }
  a {
    text-align: center;
    color: dodgerblue;
  }
  #title {
    text-align: center;
  }
  #homepage-pic {
    width: 25px;
    border-radius: 12.5px;
  }