*{
  margin: 0px;
  padding: 0px;
}
em {
    color: red;
    font-style: normal;
  }
  strong {
    color: red;
    font-style: normal;
  }
  p {
    color: rgb(200, 162, 227);
    text-align: justify;
    margin-left: 100px;
    margin-left: 100px;
  }
  body {
    background-color: rgba(39, 44, 44, 0.977);
  }
  h1 {
    color: azure;
    text-align: center;
  }
  h2 {
    color: azure;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  h3 {
    color: azure;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  img {
    width: 25px;
    border-radius: 25px;
  }
  a {
    color: royalblue;
    border-left: 50px;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    border-top: 20px;
  }
  #sections {
    text-align: center;
    margin: auto;
  }
  #HTML-section {
    text-align: center;
    margin: auto;
  }
  #CSS-section {
    text-align: center;
    margin: auto;
  }
  #References-section {
    text-align: center;
  }
  div#general{
    
    margin-top: 150px;
    margin-left: 70px;
    margin-right: 70px;
    width: 90%;
    height: 1000px;
    
    background-color:rgba(3, 3, 3, 0.421) ;
  }
  div#header{
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 150px;
    margin-left: 70px;
    
    position: fixed;
    top: 0;
    
    
  

  }
  div#shorcuts{
    margin: auto;
    object-position: center;
    margin-top: 10px;
  }
  div#bottom-page{
    
    margin: auto;
    margin-top: 100px;
    height: 80px ;
  }
  
  
  